@{
    ViewBag.Title = "Access Denied";
}

<!-- This page will be display is a user tries to access a webpage without logging in first-->
<h1>Access Denied. </h1>
<h3>You don't have the account privilege to access the page.</h3>