@model Customer

@{
    string title = ViewBag.Action + " Customer";
    ViewData["Title"] = title;

    List<Country> countryList = ViewBag.Countries;
}

@section scripts
{
    <!-- Validation codes on front end-->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<h1>@title</h1>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" class="form-control">
        <span asp-validation-for="FirstName" class="text-danger"> </span>
    </div>

    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-control">
        <span asp-validation-for="LastName" class="text-danger"> </span>
    </div>

    <div class="form-group">
        <label asp-for="Address">Address</label>
        <input asp-for="Address" class="form-control">
        <span asp-validation-for="Address" class="text-danger"> </span>
    </div>

    <div class="form-group">
        <label asp-for="City">City</label>
        <input asp-for="City" class="form-control">
        <span asp-validation-for="City" class="text-danger"> </span>
    </div>

    <div class="form-group">
        <label asp-for="State">State</label>
        <input asp-for="State" class="form-control">
        <span asp-validation-for="State" class="text-danger"> </span>
    </div>

    <div class="form-group">
        <label asp-for="PostalCode">Postal Code</label>
        <input asp-for="PostalCode" class="form-control">
        <span asp-validation-for="PostalCode" class="text-danger"> </span>
    </div>

    <div class="form-group">
        <label asp-for="CountryID">Country</label>

        <select asp-for="CountryID"
                asp-items="@(new SelectList(ViewBag.Countries, "CountryID", "Name", Model.CountryID ) )"
                class="form-control">
            <option value="">Select a country...</option>
        </select>
        <span asp-validation-for="CountryID" class="text-danger"> </span>
    </div>

    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"> </span>
    </div>

    <div class="form-group">
        <label asp-for="Phone">Phone</label>
        <input asp-for="Phone" class="form-control">
        <span asp-validation-for="Phone" class="text-danger"> </span>
    </div>

    <input type="hidden" asp-for="CustomerID" />
        
    <button type="submit" class="btn btn-success">Save</button>

    <a asp-controller="Customer" asp-action="List" class="btn btn-success">Cancel</a>


</form>




